{% extends 'base.html.twig' %}

{% block title %}Create Category{% endblock%}

{% block body %}
    <h2 class="page-header">Add Category</h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
{% endblock %}