{% extends 'base.html.twig' %}

{% block title %}Create Assignee{% endblock%}

{% block body %}
    <a href="/" class="btn btn-default">Back to Assignees</a>
    <h2 class="page-header">Add Assignee</h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
{% endblock %}